.DS_Store
pdflatex35721.fls
presentation_stat232r_spring15.aux
presentation_stat232r_spring15.fdb_latexmk
presentation_stat232r_spring15.fls
presentation_stat232r_spring15.log
presentation_stat232r_spring15.nav
presentation_stat232r_spring15.out
presentation_stat232r_spring15.pdf
presentation_stat232r_spring15.snm
presentation_stat232r_spring15.toc
presentation_stat232r_spring15.vrb
